<header>
	<span id="en" class="selected">{{ header_english }}</span>
	<span id="pt">{{ header_portugese }}</span>
</header>

<main>
	<h3>{{ subhead }} </h3>
	<h1>{{ where_is_the_olympic_torch }}</h1>

	<input type="range" class="progress" name="points" min="0" max="90">

	<div class="columns">
		<section class="map">
			{{ map }}
		</section>
		<section class="questions">
			<h2>{{ top_olympic_searches }}

			<div class="tabs">
				<span class="tab selected">Brazil</span>
				<span class="tab">World</span>
			</div>

			<ol>
			{{#each data}}
				<li><a href="http://www.google.com/search?q={{ this }}" target="_blank">{{ this }}</a></li>
			{{/each}}
			</ol>
			<span class="date">{{ date }}</span>
		</section>
	</div>
</main>

<footer>
	<a href="http://interactiveunicorn.com" target="_blank">{{ footer }}</a>
</footer>